<div class="input-wrapper">
  <label class="label" for="name">Name</label>
  <input class="input" type="text" id="name" />
</div>
<div class="input-wrapper">
  <label class="label" for="name">Email</label>
  <input class="input" type="email" id="name" />
</div>
<div class="input-wrapper">
  <label class="label" for="name">Message</label>
  <textarea class="input textarea">
  </textarea>
</div>
<div class="input-wrapper">
  <div class="grid-right-noGutter">
    <div class="col-6_sm-12">
      <button class="btn">
        Send
      </button>
    </div>
  </div>
</div>