---
layout: default
---
<article class="page">

  <div class="container">

    <div class="grid-center">
      <div class="col-10_sm-12">
        <header class="page-header">
          <h1 class="post-title">{{ page.title | escape }}</h1>
        </header>
        <div class="page-content">
          {{ content }}
        </div>
      </div>
    </div>
    <div class="grid-center">
      {% assign sorted = (site.photoshoots | sort: 'date') | reverse %}
      {% for photoshoot in sorted %}
        <div class="col-5_sm-12 padding">
          <a class="gallery-thumbnail" href="{{ photoshoot.url | relative_url }}">
            <div class="gallery-title-wrapper">
              <div class="gallery-title">
                <h4>{{ photoshoot.photoshoot_type }}</h4>
                <h2>{{ photoshoot.photoshoot_title }}</h2>
              </div>
            </div>
            <img src="{{ photoshoot.list_of_photos[0] | prepend: site.backblazeurl }}" />
          </a>
        </div>
      {% endfor %}
    </div>

  </div>

</article>
