---
layout: default
---
<div class="home">

  <div class="container">

    <div class="grid-center">

      <div class="col-6_sm-12 padding-sm">
        <a class="home-gallery home-gallery-full" href="{{ site.photoshoots[0].url | relative_url }}">
          <div class="home-gallery-title-wrapper">
              <div class="home-gallery-title">
                <h4>{{ site.photoshoots[0].type }}</h4>
                <h2>{{ site.photoshoots[0].title }}</h2>
              </div>
          </div>
          <img src="{{ site.photoshoots[0].photos[0] | relative_url }}"/>
        </a>
      </div>
      <div class="col-6_sm-12 padding-sm">
        <div class="grid">
          <div class="col-12 padding">
            <a class="home-gallery home-gallery-half" href="{{ site.photoshoots[1].url | relative_url }}">
                <div class="home-gallery-title-wrapper">
                  <div class="home-gallery-title">
                    <h4>{{ site.photoshoots[1].type }}</h4>
                    <h2>{{ site.photoshoots[1].title }}</h2>
                  </div>
                </div>
              <img src="{{ site.photoshoots[1].photos[0] | relative_url }}"/>
            </a>
          </div>
          <div class="col-12 padding">
            <a class="home-gallery home-gallery-half" href="{{ site.photoshoots[2].url | relative_url }}">
              <div class="home-gallery-title-wrapper">
                <div class="home-gallery-title">
                  <h4>{{ site.photoshoots[2].type }}</h4>
                  <h2>{{ site.photoshoots[2].title }}</h2>
                </div>
              </div>
              <img src="{{ site.photoshoots[2].photos[0] | relative_url }}"/>
            </a>
          </div>
        </div>
      </div>

      <div class="col-5_sm-12">
        {{ content }}
      </div>
      <div class="col-5_sm-12 padding-sm">
        <h2>Contact me</h2>
        {% include contact.html %}
      </div>

    </div>

  </div>

</div>
